{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">
      
      <div class="section-content">
        <h2> Visualroom is coming soon !</h2>
        <p> © 2018 Steve Breden All Rights Reserved</p>
        
        <a href="{{ url_for('final') }}"" class="btn-primary">Final</a>
        <a href="{{ url_for('rooms') }}" class="btn-secondary">Rooms</a> 
      </div>

      <div class="section-device">
        <img src="static/device.png">
      </div> 
      
      <div class="clearfix"></div>
    
    </div>
  </main>
{% endblock %}
<!-- -->
